* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Garamond;
  font-size: 16px;
  background: darkslategrey;
  color: rgb(97, 98, 27);
}

p {
  padding-bottom: 5px;
}

/* App */

.App {
  max-width: 850px;
  background: white;
  margin: auto;
}

/* HEADER */

.header {
  background: rgb(210, 229, 190);
  text-align: center;
  padding: 40px 0 20px 0;
}

.header h1 {
  padding-bottom: 10px;
}

.header h2 {
  font-weight: 100;
}

/* SECTION */

.section {
  margin: 40px;
  overflow-wrap: break-word;
}

.section h2 {
  padding-bottom: 10px;
}

.left-section section {
  margin-right: 10px;
}
.right-section section {
  margin-left: 0;
}

/* MAIN */

.main {
  display: flex;
}

/* PROJECT */

.project a {
  color: inherit;
  text-decoration: inherit;
}

.project-title {
  font-weight: bold;
}

/* JOB */

.job {
  padding: 10px;
}

.job-subheader {
  font-weight: bold;
  padding: 5px;
}
